.profile-card {
  border: 1px solid var(--light);
  padding: 32px 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 400px 1fr;
  grid-gap: 32px;

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    height: min-content;
  }
}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}
