@import "./fonts.scss";

:root {
  --dark: #000000;
  --light: #ffffff;
  --primary: #ae7aff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

.skill-tag {
  padding: 0px 8px;
  border-radius: 4px;
  border: 1px solid var(--light);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.btn {
  border: none;
  background-color: var(--primary);
  color: var(--dark);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
