@import "./fonts.scss";
@import "./margins.scss";

:root {
  --dark: #000000;
  --light: #ffffff;
  --primary: #ae7aff;
  --gray: #5f646d;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  background-image: url(/assets/imgs/bg-img.jpg);
  background-size: cover;
}

.skill-tag {
  padding: 0px 8px;
  border-radius: 4px;
  border: 1px solid var(--light);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.btn {
  width: 100%;
  border: none;
  background-color: var(--primary);
  color: var(--dark);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--dark);
}

.btn-shadow {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -4px;
    right: -4px;
    background: var(--gray);
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-input {
  margin-top: 8px;
  width: 100%;
  display: block;
  border: 1px solid var(--light);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark);
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--light);
}
